 <!-- Girls Modals -->
 {% for girl in site.girls %}
    <div class="girls-modal modal fade" id="girlsModal-{{ girl.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ girl.title }}</h2>
                            <hr class="star-primary">
                            <img src="img/girls/{{ girl.img }}" class="img-responsive img-centered" alt="{{ girl.alt }}">
                            {% if girl.description %}
                                <p>{{ girl.description }}</p>
                            {% endif %}
                            <ul class="list-inline item-details">
                                {% if girl.client %}
                                    <li>Client:
                                        <strong><a href="http://startbootstrap.com">{{ girl.client }}</a>
                                        </strong>
                                    </li>
                                {% endif %}
                                {% if girl.project-date %}
                                    <li>Date:
                                        <strong><a href="http://startbootstrap.com">{{ girl.project-date }}</a>
                                        </strong>
                                    </li>
                                {% endif %}
                                {% if girl.category %}
                                    <li>Service:
                                        <strong><a href="http://startbootstrap.com">{{ girl.category }}</a>
                                        </strong>
                                    </li>
                                {% endif %}
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}